.Container {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem 0 .8rem;
}

.Container h2 {
    /* font-family: 'Quicksand'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #EFEEE0;
    margin-bottom: 1.1rem;
}

@media (max-width: 1000px) {
    .Container {
        width: 60%;       
    }
}

@media (max-width: 650px) {
    .Container {
        width: 76vw;
        width: max-content;
        overflow-x: scroll;
        white-space: nowrap;
    }

    /* .Container > * {
        display: inline-block;
    } */

    .Container h2 {
        margin-bottom: 0rem;
    }
}