.Container {
    display: flex;
    width: 60%;
    flex-direction: column;
    background: rgba(29, 33, 35, 0.3);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(15px);
}

.controls {
    display: flex;
    justify-content: center;
}

.controls img {
    margin: 15px;
    cursor: pointer;
}

.controls img:nth-child(3):hover {
    transition: all 0.3s ease-in-out;
    scale: 1.3;
}

.progress_bar {
    /* background-color: red; */
    background: #FFFFFF1A;
    width: 100%;
    height: .4rem;
    position: relative;
    bottom: 1rem;
    border-radius: 42px;
    display: flex;
    cursor: pointer;
}

.progress {
    flex-basis: 20%;
    border-radius: 42px;
    background: #FACD66;
}

.progress_bar:hover {
    transition: all 0.1s ease-out;
    height: 0.6rem;
}

@media (max-width: 430px) {
    .controls img{
        margin: 10px 5px;
    }
}

@media (max-width: 635px) {
    .Container {
        margin: 0 25px;
    }
}

@media (max-width: 360px) {
    .progress_bar,
    .controls img:nth-child(1),
    .controls img:nth-child(2),
    .controls img:nth-child(5) {
        display: none;
    }

    .Container {
        margin-right: 0;
        padding-right: 0;
    }

    .controls {
        justify-content: flex-end;
    }
}