/* 
===================================================
    PLAYLIST TOP SECTION STYLING

___________________________________________________
*/
.TopSection {
    display: flex;
    margin: 30px;
    margin-bottom: 34px;
    /* justify-content: flex-end;   */
    gap: 20px;
}

.Lead{
    width: 284px;
    height: 288px;
    border-radius: 35px;
}

.Top_Text_Btns, .Text {
    display: flex;
    flex-direction: column;
}   

.Top_Text_Btns {
    justify-content: flex-end;
    margin: 15px 0;
}


.Text h3 {
    font-weight: 700;
    font-size: 35px;
    margin: 10px 0;
    color: #A4C7C6;
}

.Text p {
    color: #EFEEE0;
    max-width: 90%;
    font-size: 14px;
    margin: 5px 0;
}

.Btns {
    display: flex;
    margin-top: 2.4rem;
    gap: 15px;
}

.Play, .Add_to_Collection, .heart {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
    align-items: center;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(5px);
    border-radius: 32px;
}

.Play p, .Add_to_Collection p, .heart p {
    color: white;
    background: transparent;
    font-size: 12px;
}

.heart p {
    display: none;
}

@media (max-width: 750px) {
    .TopSection {
        flex-direction: column;
    }

    .TopSection > img {
        width: 50vw;
    }

    .heart p {
        display: block;
    }
}

@media (max-width: 500px) {
    .TopSection > img {
        width: 80vw;
    }
}

@media (max-width: 380px) {
    .TopSection > img {
        margin: 0 0;
        width: 83vw;
    }
    .Btns p {
        font-size: 9px;
    }
}