.Container {
    display: flex;
    /* width: 90vw; */
    background: inherit;
    /* position: fixed; */
    justify-content: space-between;
    margin: 10px 20px 0 20px;
}

.Container > img {
    width: 30px;
    height: 30px;
}

.toggle_logo {
    display: flex;
    /* justify-content: space-between; */
}

.toggle_logo div {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.toggle_logo > img {
    height: 34px;
    width: 34px;
}


@media(min-width: 500px) {
    .Container {
        display: none;
    }
}