.Release {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.Release img {
    margin: 10px 0;
    width: 153px;
    height: 153px;
    border-radius: 25px;
}

.Release p {
    font-size: 12px;
    /* font-weight: 400; */
    line-height: 15px;
    color: #FFF;
}